.PrflBox {
    margin-left: 100px;
  }
  
  .hd1 {
    margin-bottom: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
  }
  
  .hd2 {
    margin-top: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }