
.wrapper {
  justify-content: space-evenly;
  height: 600px;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.folder {
  
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.row {
  margin-top: -950px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.row3 {
  margin-top: -1000px;
  margin-right: 100px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.row4 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column3 {
  margin-top: -70px;
  margin-left: 0;
  background-image: 
  url("./Images/off-doc2.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex: 1;
}

