
.wrapper {
  justify-content: space-evenly;
  /* background-image:
  url("../public/Assets/folder4.png");
  background-size: "30%";
  background-position: center; */
  height: 600px;
  overflow-y: scroll;
  width: 100%;
  position: fixed;
  /* background-repeat:no-repeat;  */
}

.folder {
  
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  position: fixed;
  /* background-repeat:no-repeat;  */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row3 {
  margin-top: -1150px;
  margin-right: 100px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.row4 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column3 {
  margin-top: -150px;
  background-image: 
  url("../public/Assets/official2.png");
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

