img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.picBox {
    width: 275px;
    height: 375px;
    border: .5px;
    border-style: solid;
    border-color: gray;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px 5px 5px gray;
    padding: 10px;
  }
