.projBox {
    margin-top: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #C4C4C4;
    font-size:small;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 1250px;
}

.pjBox {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(61, 54, 53);
    font-size: x-large;
    border: 2px;
    border-top: 0;
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 1250px;
}

.boxes {
    margin-left: auto;
    margin-right: auto;
}

.flexRow {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    width: 100%;
}

.blue {
    background-color: 0;
    height: 250px;
    width: 50%;
    padding-bottom: 20px;
}

.green {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;
    width: 50%;
}

imgs {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.iconBox {
    width: 80px;
    height: 80px;
    /* border: 2px;
    border-style: solid;
    background-color:rgb(255, 255, 255);
    box-shadow: 10px 5px 5px gray; */
    /* padding: 15px; */
}

.gitBox {
    order: 1;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(61, 54, 53);
    font-size: medium;
    border: 2px;
    /* border-top: 0; */
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 40%;


}